footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #3C3A3E;
    border-radius: 20px 20px 0px 0px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  