@import url('./variables.css');

.success-message {
  position: fixed;
  top: 88px;
  right: 40px;
  width: 300px;
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1001;
  font-size: 16px;
  animation: fadeInOut 3s ease-in-out;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

/* Animation to fade the success message in and out */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}