---
import ContactPage from '../components/ContactPage.jsx';
---

<html lang="es">
  <head>
    <title>Contáctanos</title>
    <meta name="description" content="Contact page for Química Industrial." />
  </head>
  <body>
    <ContactPage client:load />
  </body>
</html>
