---
import HomePage from '../components/HomePage.jsx';
---

<html lang="es">
  <header>
    <title>Home Page</title>
    <meta name="description" content="Home page for Química Industrial." />
  </header>
  <body>
    <HomePage client:load />
  </body>
</html>
