---
import ProductsPage from '../components/ProductsPage';
---

<html lang="es">
    <head>
        <title>Productos</title>
        <meta name="description" content="Our product page." />
    </head>
    <body>
        <ProductsPage />
    </body>
</html>
