---
import QuotePage from '../components/QuotePage.jsx';
---

<html lang="es">
  <head>
    <title>Cotizar</title>
    <meta name="description" content="Quote-form page for Química Industrial." />
  </head>
  <body>
    <QuotePage client:load />
  </body>
</html>